# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/

# Local development settings
.env
.venv

# Model artifacts
iris_model/
decision_tree_model.pkl
pca.pkl
scaler.pkl
confusion_matrix.png
decision_tree.png
pca_visualization.png
tmp.py